body {
  font-family: Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  direction: rtl;
}

nav {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

header {
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 30px 10px;
}

section {
  max-width: 800px;
  margin: 30px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

form input, form textarea, form button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
}
